PORT=<backend port>
SECRET=verysecret
BACKEND_BASE_URL=<backend base url based on your backend port> example: http://localhost:8000/
MONGODB_URI=mongodb://root:root@db/admin
TEST_MONGODB_URI=<Set your uri here>
VITE_DEV_PORT=<frontend port>

BUCKET_NAME=<your bucket name>
BUCKET_REGION=<your bucket region>
ACCESS_KEY=<your s3 bucket access key>
SECRET_ACCESS_KEY=<your s3 bucket secret access key>
