services:
  app:
    build:
      context: ./
      dockerfile: Containerfile
    image: dev
    environment:
      - DATABASE_URL=mongodb://root:root@db/admin
    volumes:
      - ./:/opt/app-root/src
    ports:
      - 3000:3000
      - 8000:8000
    container_name: dev

  db:
    image: docker.io/mongo:7.0.0
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
    container_name: dev_db

  redis:
    image: redis:7-alpine
    ports:
      - 6379:6379
    container_name: dev_redis

volumes:
  mongo_data:
